
.bg-barca {
  background-color: #A50044; 
}

.text-barca {
  color: #004D98; 
}

.btn-barca {
  background-color: #A50044;
  color: white;
  border: none;
}

.btn-barca:hover {
  background-color: #004D98;
  color: white;
}


h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: #004D98;
  border-bottom: 2px solid #A50044;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
